body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../media/dux4xq5v0zs41.jpg);
  background-size: cover;
}

nav {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: solid black 1px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
} 

.card {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 400px;
  background-color: black;
  position: relative;
  margin: 10px;
} 

.mediaCarta {
  position: absolute;
  top: 60px;
  left: 10px;
  color: greenyellow;
  background-color: #333333de;
  padding: 10px;
  border-radius: 10px;
}

.nombreCarta {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(255, 233, 32);
  background-color: #333333de;
  padding: 10px;
  border-radius: 10px;
}

.bandera-card {
  width: 95px;
  height: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.atributosBanderaCarta{
  position: absolute;
  color: white;
}

.atributosCarta{
  position: absolute;
  bottom: 7px;
  left: 10px;
  color: white;
  background-color: #333333de;
  padding: 10px;
  border-radius: 10px;
}

.cartas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.carta {
  border: 1px solid black;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  display: inline-block;
  margin: 10px;
  background-color: #333;
}

.borrar-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

.editar-btn {
  position: absolute;
  bottom: 0;
  right: 80px;
  margin: 5px;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#333;
}

.infoForm{
  list-style-type: none;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
  margin-bottom: 10px;
}

.paisForm{
  list-style-type: none;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px; 
  margin-bottom: 10px;
}

.logos{
  height: 70px;
  width: 100px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../media/dux4xq5v0zs41.jpg);
  background-size: cover; 
}

nav {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: solid black 1px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
} 

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: white;
}

.carta label {
  margin-bottom: 10px;
}

.carta input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.carta input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.carta input[type="submit"]:hover {
  background-color: #0056b3;
}
